.footer {
  width: 100%;
  padding-top: 5rem;
  margin-top: 5rem;
  height: auto;
  background: #7ea1c4;
  color: #1b365c;
}

.footerContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerContent h3 {
  margin: 2rem;
  font-size: 1.5rem;
}

.footerContent p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.socials {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.socials li a {
  margin: 1em;
  font-size: 1.5rem;
  transition: all 0.3s ease 0s;
  /* color: white; */
}

.socials li a:hover {
  color: white;
}
