.hero {
  height: 90vh;
  width: 100%;
  line-height: 1.6;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroLeft,
.heroRight {
  width: 50%;
}

.heroLeft div {
  float: right;
  /* padding-left: 10%; */
  padding-right: 30%;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.hero h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  color: gray;
}
